# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Local release output
dist/
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Editors
.idea/
*.swp

# Test failure log written by scripts/run-tests.sh
snaplet-test.log
